<ion-header>
  <ion-toolbar color="primary">
    <ion-title>inventory</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-reorder-group (ionItemReorder)="doReorder($event)" disabled="false">
    <ion-reorder *ngFor="let poke of caughtPokemon;">
      <ion-item>
      <ion-avatar slot="start">
        <img [src]="poke.image" style="background: #f2f2f2;">
      </ion-avatar>
      <ion-label class="ion-text-capitalize">
        <h2>{{poke.name}}</h2>
        <p>#{{poke.pokeIndex}}</p>
      </ion-label>
      <ion-button color="tertiary" routerLink="/tabs/tab-home/{{poke.pokeIndex}}">Pokédex</ion-button>
      <ion-button color="tertiary" (click)="openPopover($event, poke.lStorageKey)">Rename</ion-button>
      <ion-button (click)="freePoke(poke.lStorageKey)">Release</ion-button>
    </ion-item>
    </ion-reorder>
    </ion-reorder-group>
  </ion-list>
  
</ion-content>
